$body-bg: pink;


.custom-bg{
    background: black url(../img/horizontal-clothing.jfif);
    object-fit: cover;
    height: 100%;
    width: 100%;
}

@import "../node_modules/bootstrap/scss/bootstrap";